.edit-form__input-description {
  margin: 0 0 50px 0;
  height: 27px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 540px) {
  .edit-form__input-description {
    font-size: 14px;
    line-height: 17px;
  }
}
