.profile {
  width: 100%;
  display: grid;
  grid-template-columns: min-content 30px minmax(336px, max-content) minmax(30px, auto) min-content;
}

@media screen and (max-width: 968px) {
  .profile {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-template-rows: min-content 26px min-content 31px min-content;
  }
}
