.edit-form__input-container {
  padding: 0;
  margin: 0 0 29px 0;
  border: 0 none;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 650px) {
  .edit-form__input-container {
    margin: 0 0 23px 0;
  }
}
